*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    background-color: black;
}
header{
    background-color: transparent;
    width: 100%;
    min-height: 7vh;
    background: linear-gradient(black, #9198e5);
}
ul{
    display: flex;
    gap: 1cm;
    margin-left: 20cm;
    margin-top: 10px;
}
li{
    list-style: none;
    font-size: 1.3rem;
    
}
.a{
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: white;
    transition: .5s;
}
.a:hover{
    color: aqua;
}
.phonepic{
    width: 350px;
    height: 455.5px;
    display: flex;
    position: absolute;
    top: 2cm;
    transform: rotateZ(-15deg);
    transition: 1s;
}
.phonepic:hover{
    transform: rotateZ(15deg);
    transform: translate(50%);
}
.title{
    display: flex;
    position: absolute;
    top: 4cm;
    left: 17cm;
    font-size: 4rem;
    color: white;
    text-align: right;
}
.title-p{
    display: flex;
    position: absolute;
    top: 6.6cm;
    left: 21cm;
    font-size: 1.3rem;
    color: white;
    text-align: right;
}